<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Avada Food</title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Axios DCN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app" >
    <header id="site_header">
      <nav>
        <div class="container">
          <div class="app_social d-flex between">
            <div class="app">
              <!-- ??? <a href="#" v-for="link in app">{{link.text}} <span>{{link.spanText}}</span></a> ??? -->
              <ul>
                <li><a href="#">Dowload App <span>ios</span></a></li>
                <li><a href="#">Advertise with us</a></li>
              </ul>
            </div><!-- /.app -->
            <div class="social">
              <i v-for="icon in social" :class="icon.name"></i>
              <!-- <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-youtube"></i> -->
            </div><!-- /.social -->
          </div><!-- /.app_social -->
          <div class="logo">
            <img :src="logo.name" alt="">
          </div><!-- /.logo -->
          <div class="navbar d-flex">
            <a href="#"  v-for="link in navbar">{{link.text}}<hr></a>
            <!-- <a href="#">Home <hr></a>
            <a href="#">Places <hr></a>
            <a href="#">Blog <hr></a>
            <a href="#">About <hr></a>
            <a href="#">Contact <hr></a> -->
            <a href="#"><i class="fas fa-search"></i></a>
          </div><!-- /.navbar -->
        </div><!-- /.container -->
      </nav>
      <!-- /nav -->
      <div class="banner">
        <div class="title_header">
          <div class="sticker">TODAY'S PICK</div>
          <h1 class="vidaloka_style">{{banner.title}}<br>
          {{banner.subTitle}}</h1>
          <p class="vidaloka_style">{{banner.day}}</p>
        </div>
      </div><!-- /.banner -->
    </header>
    <!-- /#site_header -->

    <main id="main_content">
      <div class="foodie_journal">
        <div class="container box">
          <div class="title">
            <span class="outer-line"></span>
            <span class="text">FOODIE JOURNAL</span>
            <span class="outer-line"></span>
          </div>
          <div class="d-flex">
            <div class="col_3">
              <div class="card pos_rel">
                <div class="item pos_rel">
                  <div class="overlay">
                    <div class="info">
                      <i class="fas fa-link"></i>
                      <h5 class="vidaloka_style">Food Corner: Top Japanese<br>
                      Restaurants for Sushi</h5>
                    </div><!-- /.info -->
                  </div><!-- /.overlay -->
                  <img src="assets/images/single-post-img3.jpg" alt="">
                </div><!-- /.item -->
                <h4 class="vidaloka_style">Food Corner: Top Japanese<br>
                Restaurants for Sushi</h4>
                <p class="vidaloka_style">By admin &verbar; March 25,2019</p>
              </div><!-- /.card -->
            </div><!-- /.col_3 -->
            <div class="col_3 mx_33">
              <div class="card pos_rel">
                <div class="item pos_rel">
                  <div class="overlay">
                    <div class="info">
                      <i class="fas fa-link"></i>
                      <h5 class="vidaloka_style">Roundup: My New Favorite<br>
                      Recipes For Healthy Living</h5>
                    </div><!-- /.info -->
                  </div><!-- /.overlay -->
                  <img src="assets/images/main/fi-roundup.jpg" alt="">
                </div><!-- /.item -->
                <h4 class="vidaloka_style">Roundup: My New Favorite<br>
                Recipes For Healthy Living</h4>
                <p class="vidaloka_style"> By admin &verbar; March 25,2019</p>
              </div><!-- /.card -->
            </div><!-- /.col_3 -->
            <div class="col_3">
              <div class="card pos_rel">
                <div class="item pos_rel">
                  <div class="overlay">
                    <div class="info">
                      <i class="fas fa-link"></i>
                      <h5 class="vidaloka_style">Why These Toasts with Tea are<br>
                      My New Favorite</h5>
                    </div><!-- /.info -->
                  </div><!-- /.overlay -->
                  <img src="assets/images/main/fi-toasts.jpg" alt="">
                </div><!-- /.item -->
                <h4 class="vidaloka_style">Why These Toasts with Tea are<br>
                My New Favorite</h4>
                <p class="vidaloka_style">By admin &verbar; March 25,2019</p>
              </div><!-- /.card -->
            </div><!-- /.col_3 -->
          </div>
        </div><!-- /.container -->
      </div><!-- /.foodie_journal -->

      <div class="popular_recipes my_70">
        <div class="container">
          <h4 class="t_center">POPULAR RECIPES</h4>
          <p class="t_center">Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse <br> maximus lacus non nunc lobortis.</p>
          <div class="d-flex">
            <div class="col_2 mr_20 bg_white">
              <div class="card pos_rel">
                <div class="item pos_rel">
                  <div class="overlay">
                    <div class="info">
                      <i class="fas fa-link"></i>
                      <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5>
                    </div><!-- /.info -->
                  </div><!-- /.overlay -->
                  <img src="assets/images/Yogurt-Nan.jpg" alt="">
                </div><!-- /.item -->
                <div class="section_text">
                  <h4 class="vidaloka_style title">Lunch Favourite with Salad, Naan And Beans</h4>
                  <p class="subtitle">Bakery, Featured, Healthy, Latest Recipes, Staff Picks</p>
                  <div class="outer-line"></div>
                  <p class="paragraph">Suspendisse at sempre odio. Nam fringilla scelerisque tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidut posuere ornare. Phasellus placerat odio non feugiat sollicitudin. Integer vitae elementum ex. Sed porttitor, diam eget convallis volutpat, arcu tellus facilisis nulla, id dignissim orci leo id</p>
                  <button type="button" name="button"> LAERN MORE</button>
                </div><!-- /.section_text -->
              </div><!-- /.card -->
            </div>
            <div class="col_2 ml_20">
              <div class="d-flex">
                <div class="row_col_2 mr_15">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/Mixed-fruits.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
                <div class="row_col_2">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/r-rachel-park-366508-unsplash-min.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
              </div>
              <div class="d-flex">
                <div class="row_col_2 mr_15">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/r-michelle-tsang-500721-unsplash-min.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
                <div class="row_col_2">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/quick-summer-drink-460x295.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
              </div>
              <div class="d-flex">
                <div class="row_col_2 mr_15">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/r-maarten-van-den-heuvel-400626-unsplash-min-460x295.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
                <div class="row_col_2">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/perfect-cosmopolitan-460x295.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
              </div>
              <div class="d-flex">
                <div class="row_col_2 mr_15">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/fi2x-6-460x295.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
                <div class="row_col_2">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i class="fas fa-link"></i>
                        <!-- <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5> -->
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img src="assets/images/r-brooke-lark-96398-unsplash-min-460x295.jpg" alt="">
                  </div><!-- /.item -->
                </div><!-- /.row_col_2 -->
              </div>
            </div>
          </div>
        </div><!-- /.container -->
      </div><!-- /.popular_recipes -->

      <div class="culinary_collection my_70 py_40">
        <div class="container">
          <h4 class="t_center">CULINARI COLLECTION</h4>
          <p class="t_center">Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse <br> maximus lacus non nunc lobortis.</p>
          <div class="d-flex image_icon">
            <div v-for="icon in icons" class="box_icons">
              <div class="icon">
                <img :src="icon.url" alt="">
                <p>{{icon.name}}</p>
              </div>
            </div>

          </div><!-- /.d-flex -->
        </div><!-- /.container -->
      </div><!-- /.culinary_collection -->

      <div class="farm_to_table">
        <div class="container"></div><!-- /.container -->
      </div><!-- /.farm_to_table -->

      <div class="subscribe">
        <div class="container"></div><!-- /.container -->
      </div><!-- /.subscribe -->

      <div class="immagini"></div><!-- /.copyright -->
    </main>
    <!-- /#main_content -->

    <footer id="site_footer">
      <div class="footer_main">
        <div class="container"></div><!-- /.container -->
      </div><!-- /.footer_main -->

      <div class="copyright">
        <div class="container"></div><!-- /.container -->
      </div><!-- /.copyright -->
    </footer>
    <!-- /#site_footer -->
  </div>
  <!-- /#app -->


  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- VUE  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Js -->
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
