<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Avada Food</title>
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Axios DCN -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <!-- HEADER -->
    <header id="site_header" class="bg_white">
      <div class="container">
        <div class="app_social d-flex between">
          <div class="app">
            <a href="#">Download App<span>iOS</span></a>
            <a href="#">Advertise with us</a>
          </div><!-- /.app -->

          <div class="social">
            <i v-for="icon in social" :class="icon.iconName"></i>
          </div><!-- /.social -->
        </div><!-- /.app_social -->

        <div class="logo d-flex j_center">
          <img :src="logo.name" alt="">
        </div><!-- /.logo -->

        <!-- Navbar -->
        <nav  class="d-flex j_center">
          <a href="#">Home<hr></a>
          <a href="#" v-for="link in navbar">{{link.text}}<hr></a>
          <a href="#" class="mb_11"><i class="fas fa-search"></i></a>
        </nav>
        <!-- /nav -->
      </div><!-- /.container -->
    </header>
    <!-- /#site_header -->
    <!-- CHIUSURA HEADER -->

    <!-- BANNER -->
    <div class="banner">
      <div class="title_header">
        <div class="sticker">TODAY'S PICK</div>
        <h1 class="vidaloka_style"><a href="#">{{banner.title}}</a></h1>
        <p class="vidaloka_style">{{banner.day}}</p>
      </div>
    </div><!-- /.banner -->
    <div id="foodie_journal">
      <div class="container box">
        <div class="title d-flex">
          <div class="outer-line"></div>
          <h2>FOODIE JOURNAL</h2>
          <div class="outer-line"></div>
        </div>
        <div class="d-flex">
          <div class="col_3" v-for="text in foodieJournal">
            <div class="card pos_rel bg_white">
              <div class="item pos_rel">
                <div class="overlay">
                  <div class="info">
                    <i :class="text.icon"></i>
                    <h5 class="vidaloka_style">{{text.title}}</h5>
                  </div><!-- /.info -->
                </div><!-- /.overlay -->
                <img :src="text.url" alt="">
              </div><!-- /.item -->
              <div class="box_text">
                <h2 class="vidaloka_style"><a href="#">{{text.title}}</a></h2>
                <p class="vidaloka_style">By <a href="#">admin</a> &verbar; March 25,2019</p>
              </div><!-- /.box_text -->
            </div><!-- /.card -->
          </div><!-- /.col_3 -->
        </div>
      </div><!-- /.container -->
    </div><!-- /.foodie_journal -->
    <!-- CHIUSURA BANNER -->

    <!-- MAIN -->
    <main id="main_content">
      <!-- Articolo e colonne Immagini -->
      <div id="popular_recipes" class="mb_70 pt_70">
        <div class="container">
          <div class="title_paragraph">
            <h2 class="t_center">POPULAR RECIPES</h2>
            <p class="t_center">Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse maximus lacus non nunc lobortis.</p>
          </div><!-- /.title_paragraph -->
          <div class="d-flex">
            <div class="col_2 mr_20 bg_white">
              <div class="card pos_rel">
                <div class="item pos_rel">
                  <div class="overlay">
                    <div class="info">
                      <i class="fas fa-link"></i>
                      <h5 class="vidaloka_style">Lunch Favourite with Salad, Naan And Beans</h5>
                    </div><!-- /.info -->
                  </div><!-- /.overlay -->
                  <img src="assets/images/Yogurt-Nan.jpg" alt="">
                </div><!-- /.item -->
                <div class="section_text">
                  <h2 class="vidaloka_style title"><a href="#">Lunch Favourite with Salad, Naan And Beans</a></h2>
                  <p class="subtitle"><a href="#">Bakery</a>, <a href="#">Featured</a>, <a href="#">Healthy</a>, <a href="#">Latest</a>, <a href="#">Recipes</a>, <a href="#">Staff Picks</a></p>
                  <div class="outer-line"></div>
                  <div class="paragraph">
                    <p>Suspendisse at sempre odio. Nam fringilla scelerisque tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidut posuere ornare. Phasellus placerat odio non feugiat sollicitudin. Integer vitae elementum ex. Sed porttitor, diam eget convallis volutpat, arcu tellus facilisis nulla, id dignissim orci leo id</p>
                  </div>
                  <button type="button" name="button">LAERN MORE</button>
                </div><!-- /.section_text -->
              </div><!-- /.card -->
            </div><!-- /.col_2 -->
            <div class="col_2 ml_20 d-flex wrap">
              <div class="insert" v-for="text in popularRecipes">
                <div class="item pos_rel">
                  <div class="overlay">
                    <div class="info">
                      <i :class="text.icon"></i>
                      <h5 class="vidaloka_style">{{text.title}}</h5>
                    </div><!-- /.info -->
                  </div><!-- /.overlay -->
                  <img :src="text.url" alt="">
                </div><!-- /.item -->
              </div><!-- /.insert -->
            </div><!-- /.col_2 -->
          </div><!-- /.d-flex -->
        </div><!-- /.container -->
      </div><!-- /.popular_recipes -->
      <!-- Card categorie -->
      <div id="culinary_collection" class=" my_70 py_40">
        <div class="container">
          <div class="title_paragraph">
            <h2 class="t_center">CULINARI COLLECTION</h2>
            <p class="t_center">Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse maximus lacus non nunc lobortis.</p>
          </div>
          <div class="d-flex image_icon">
            <div v-for="icon in icons" class="box_icons">
              <div class="icon">
                <div>
                  <img :src="icon.url" alt="">
                </div>
                <div>
                  <p>{{icon.name}}</p>
                </div>
              </div>
            </div>
          </div><!-- /.d-flex -->
        </div><!-- /.container -->
      </div><!-- /.culinary_collection -->
      <!-- Aticolo con Card di articoli e SIDEBAR -->
      <div id="farm_to_table" class="mb_70 pt_70">
        <div class="container d-flex">
          <div class="blog">
            <!-- titolo e paragrafo -->
            <div class="title_blog">
              <h2> FARN TO TABLE</h2>
              <p>Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse maximus lacus non nunc lobortis.</p>
            </div><!-- /.title_blog -->

            <!-- Immagine con titolo e paragrafo -->
            <div class="card pos_rel bg_white">
              <div class="item pos_rel">
                <div class="overlay">
                  <div class="info">
                    <i class="fas fa-link"></i>
                    <h5 class="vidaloka_style">Food Corner: Top Japanese Restaurants for Sushi</h5>
                  </div><!-- /.info -->
                </div><!-- /.overlay -->
                <img src="assets/images/single-post-img3.jpg" alt="">
              </div><!-- /.item -->
              <div class="section_text">
                <h2 class="vidaloka_style title"><a href="#">Food Corner: Top Japanese Restaurants for Sushi</a></h2>
                <p class="subtitle">By <a href="#">admin</a> &verbar; March 25,2019</p>
                <div class="outer-line"></div>
                <div class="paragraph">
                  <p>Suspendisse at semper odio. Nam fringilla scelerisque tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt posuere ornare. Phasellus placerat odio non feugiat sollicitudin. Integer vitae elementum ex.</p>
                </div>
                <div class="commenti d-flex between">
                  <div>
                    <a href="#">Read More &gt;</a>
                  </div>
                  <div>
                    <a href="#"><i class="far fa-comments"></i> <span>0</span></a>
                  </div>
                </div>
              </div><!-- /.section_text -->
            </div><!-- /.card -->

            <!-- Card Immagini su due colonne con titolo //VueJs -->
            <div class="d-flex wrap my_50">
              <div class=" insert" v-for="text in farmToTable">
                <div class="card pos_rel bg_white">
                  <div class="item pos_rel">
                    <div class="overlay">
                      <div class="info">
                        <i :class="text.icon"></i>
                        <h5 class="vidaloka_style">{{text.title}}</h5>
                      </div><!-- /.info -->
                    </div><!-- /.overlay -->
                    <img :src="text.url" alt="">
                  </div><!-- /.item -->
                  <div class="box_text">
                    <h2 class="vidaloka_style"><a href="#">{{text.title}}</a></h2>
                    <p class="vidaloka_style">By <a href="#">admin</a> &verbar; March 25,2019</p>
                  </div><!-- /.box_text -->
                </div><!-- /.card -->
              </div>
            </div>
            <!-- Bottone per aggiungere altre Card con immagini, per la sezione sopra-->
            <button type="button" name="button">LOAD MORE POSTS</button>
          </div>
          <!-- /.blog -->

          <aside>
            <div class="button d-flex t_right">
              <button type="button" name="button">READ OUR BLOG</button>
            </div>

            <div class="recipes pos_rel">
              <img src="assets/images/ad-bg.jpg" alt="">
              <div class="lates_recipes">
                <h3>VIEW OUR LATEST RECIPES</h3>
              </div>
            </div>

            <div class="city  pos_rel">
              <img src="assets/images/singapore-featured-image.jpg" alt="">
              <div class="city_title">
                <h2>City Guide: Singapore</h2>
              </div>
              <button type="button" name="button" class="bg_city">
                <i class="fas fa-globe-americas"></i>
                <a href="#">VIEW ALL CITY GUIDES</a>
              </button>
              <!-- <div class="bg_city">
                <i class="fas fa-globe-americas"></i>
                <a href="#">VIEW ALL CITY GUIDES</a>
              </div> -->
            </div>

            <div class="follow mt_46">

            <input type="search" name="" value="" placeholder="Search...">

            <h4 class="vidaloka_style">Follow Us</h4>

            <div class="button_social">
              <i v-for="icon in social" :class="icon.iconName"></i><i class="fab fa-pinterest-p"></i>
            </div>

            <div class="d-flex my_40">
              <div class="col_2 popular vidaloka_style">
                <a href="#">Popular</a>
              </div>
              <div class="col_2 recent vidaloka_style">
                <a href="#">Recent</a>
              </div>
            </div>

            <div class="articoli_recenti">
              <div class="d-flex articoli">
                <div class="image_article bgI_1"></div>
                <div class="text_article">
                  <a href="#">Food Corner: Top Japanese Restaurants for Sushi</a>
                  <p>March 25th, 2019</p>
                </div>
              </div>

              <div class="d-flex articoli">
                <div class="image_article bgI_2"></div>
                <div class="text_article">
                  <a href="#">City Guide: Singapore</a>
                  <p>February 27th, 2019</p>
                </div>
              </div>

              <div class="d-flex articoli">
                <div class="image_article bgI_3"></div>
                <div class="text_article">
                  <a href="#">6 Nutritional Tips to Help Burn Body Fat</a>
                  <p>February 28th, 2019</p>
                </div>
              </div>

            </div>

          </aside>
          <!-- /aside -->
        </div><!-- /.container -->
      </div><!-- /.farm_to_table -->
      <!-- Iscrizione alla "newsletter" -->
      <div id="subscribe">
        <div class="container_subscribe">
          <div class="title_subcribe">
            <h3 class="vidaloka_style">Subscribe <span>&amp;</span> Receive A Free eBook</h3>
            <p>Aliquam erat volutpat. Ut quis ligula a magna blandit finibus. Suspendisse maximus lacus non nunc lacinia lobortis.</p>
          </div>
          <div class="email_button d-flex between my_70">
            <input type="email" name="" value="" placeholder="Insert your email...&ast;">
            <button type="button" name="button">SUBCRIBE</button>
          </div>
          <p>Cras porttitor pellentesque sem eu pretium.</p>
        </div><!-- /.container_subscribe -->
      </div><!-- /.subscribe -->
      <!-- Quattro immagini //VueJs -->
      <div id="images" class="d-flex">
        <div class="item pos_rel" v-for="img in image">
          <div class="overlay">
            <div class="info">
              <i :class="img.icon"></i>
              <h5 class="vidaloka_style">{{img.title}}</h5>
            </div><!-- /.info -->
          </div><!-- /.overlay -->
          <img :src="img.url" alt="">
        </div><!-- /.item -->
      </div><!-- /.copyright -->
    </main>
    <!-- /#main_content -->
    <!-- CHIUSURA MAIN -->

    <!-- FOOTER -->
    <footer id="site_footer">
      <div class="footer_main">
        <div class="container d-flex">
          <div id="logo_social" class="col_4">
            <img src="assets/images/avada-food-logo-mob.png" alt="">
            <div class="social">
              <i v-for="icon in social" :class="icon.iconName"></i>
            </div><!-- /.social -->
          </div>
          <div id="link_nav" class="col_4 d-flex">
            <a href="#" v-for="link in navbar">{{link.text}}</a>
          </div>
          <div id="contact" class="col_4">
            <h4>CONTACT</h4>
            <div v-for="link in contact" class="info_contact">
              <ul>
                <li class="d-flex">
                  <i :class="link.iconName"></i>
                  <div><a href="#">{{link.info}}</a></div>
                </li>
              </ul>
            </div>
          </div>
          <div id="get_app" class="col_4">
            <h4>GET OUR APP!</h4>
            <div class="app_image" v-for="image in get_app">
              <img :src="image.imageUrl" alt="">
            </div>

          </div>
        </div><!-- /.container -->
      </div><!-- /.footer_main -->

      <div class="copyright">
        <div class="container">
          <p>&copy; Copyright 2012 - 2021 &verbar; Avada Theme by <a href="#">ThemeFusion</a> &verbar; All Rights Reserved &verbar; Powered by <a href="#">WordPress</a></p>
        </div><!-- /.container -->
      </div><!-- /.copyright -->
    </footer>
    <!-- /#site_footer -->
    <!-- CHIUSURA FOOTER -->
  </div>
  <!-- /#app -->


  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- VUE  -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Js -->
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
