*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}
#app{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* UTILITY */
.container{
  width: 84%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.d-none{
  display: none;
}
.d-flex{
  display: flex;
}
.between{
  justify-content: space-between;
}

.pos_rel{
  position: relative;
}


.bg_white{
  background: white;
}
.mx_33{
  margin: 0 33px;
}
.ml_20{
  margin-left: 20px;
}
.mr_20{
  margin-right: 20px;
}
.ml_15{
  margin-left: 15px;
}
.mr_15{
  margin-right: 15px;
}
.mr_14{
  margin-right: 14px;
}
.mb_11{
  margin-bottom: 11px;
}

/* Style text*/
.vidaloka_style{
  font-family: 'Vidaloka', serif;
}
.t_center{
  text-align: center;
}
/* COLOR TEXT */
h1,h2, h3{
  color: #333338;
}
p{
  color: #67615a;
}
a{
  color: #333338;
  text-decoration: none;
}
a:hover{
  color: #FC7523FC;
}


/* HEARDER */
/*** nav ***/
head#site_header{
  background: white;

}
/** app_social **/
.app_social{
  padding: 10px;
}
.app_social a,
.app_social i{
  color: #67615a;
}
.app_social a{
  padding-right: 13px;
  font-size: 12px;
}
.app_social i{
  margin: 0px 5px 15px;
  padding: 8px;
}
/* app */
.app span{
  color: white;
  background: #FC7523;
  padding: 3px 4px;
  margin-left: 6px;
  border-radius: 4px;
}

/** logo **/
.logo,
nav{
  display: flex;
  justify-content: center;
}

/** nav **/
nav{
  height: 70px;
  align-items: center;
}
nav a{
  font-size: 16px;
}
nav a:not(:last-child){
  padding-right: 70px;
}
nav a:first-child,
nav a:hover{
  color: #FC7523FC;
}
nav hr{
  opacity: 0;
  border: 1px solid #FC7523FC;
  margin: 5px 0;
}
nav a:first-child  hr,
nav a:hover hr,
nav a:hover:not(:last-child) hr{
  opacity: 1;
}

/*** .banner ***/
.banner{
  height: 700px;
  background-image: url("../images/single-post-img3.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: scroll;
  position: relative;
}

.banner > .title_header{
  width: 706px;
  text-align: center;
  background: white;
  border-radius: 6px;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, 0);
}
.title_header > h1{
  margin-top: 37px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 45px;
}
.title_header:hover > h1 a{
  color: #FC7523FC;
}
.title_header > p{
  font-size: 18px;
  margin-bottom: 30px;
}

.banner > .title_header > .sticker{
  font-size: 16px;
  padding: 7px 34px;
  color: white;
  background: #FC7523;
  border-radius: 6px;
  box-shadow: 0 0 4px grey;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* MAIN */
main#main_content{
  height: 3281px;
  background: #F5F5F1;
}

/*** .foodie_journal ***/
.foodie_journal{
  height: 430px;
  text-align: center;
  position: relative;
}
.box{
  background: white;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 1px 40px 10px;
}

.box > .title{
  margin: 30px 0 20px;
}
.box > .title > .outer-line {
  width: 38%;
  border-bottom: 1px dotted #F1F0F0;
  border-radius: 6px;
}
.box > .title > span {
  display: inline-block;
  vertical-align: middle;
}
.box > .title > span.text {
  color: #49494D;
  padding: 0 45px;
  font-size: 21px;
}

.col_3{
  width: calc(100% / 3);
}

/* OVERLAY CARD */
.card  img{
  width: 100%;
}

.box_text{
  padding: 15px 25px 0;
}
.box_text > h2{
  font-size: 22px;
  margin: 0 0 5px;
  line-height: 1.5;
  font-weight: normal;
}
.box_text > p{
  color: #736E67;
  font-size: 15px;
  /* margin-bottom: 30px; */
}
.overlay{
  opacity: 0;
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(158,43,34,0.8799894957983193) 10%, rgba(252,117,35,0.969625350140056) 97%);
}
.overlay > .info {
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay > .info > i{
  color: #9E2B22;
  font-weight: 600;
  background: white;
  padding: 8px;
  border-radius: 50%;
}
.overlay > .info > h5{
  color: white;
  margin-top: 17px;
  font-size: 19px;
}
.item:hover .overlay {
  opacity: 1;
  transition: 1s ease;
  cursor: pointer;
}
/* /OVERLAY CARD */


/*** .popular_recipes ***/
.my_70{
  margin: 70px 0;
}
.title_paragraph{
  width: 47%;
  margin: 0 auto;
  padding-bottom: 25px;
}
.title_paragraph > h2{
  font-size: 21px;
  margin-bottom: 20px;
}
.title_paragraph > p{
  padding: 0 0 20px;
  font-size: 17px;
  line-height: 1.5;
}

.section_text{
  padding: 25px 35px;
  background: white;
}
.section_text > h2.title{
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 8px;
}
.section_text > p.subtitle{
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 10px;
}
.section_text > div.outer-line{
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted #E8E6E6;
  border-radius: 6px;
}
.section_text > .paragraph{
  color: #67615a;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.8;
  margin: 0 0 20px;
}

button{
  background: #FC7523FC;
  border-radius: 2px;
  border: none;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
}
button > a,
button:hover > a{
  color: white;
}
button:hover{
  background: #ee5827;
}

.col_2{
  width: calc(100% / 2);
}

.wrap{
  flex-wrap: wrap;
}
.insert{
  width: calc(100% / 2);
  padding: 12px;
}
.insert:first-child,
.insert:nth-child(2){
  padding: 0 12px 12px;
}
.insert > .item > img{
  width: 100%;
}

/*** .culinary_collection ***/
.py_40{
  padding: 40px 0;
}
.image_icon{
  flex-wrap: wrap;
  width: 100%;
}
.box_icons{
  width: 25%!important;
}
.box_icons:not(:nth-of-type(4n+4)) .icon{
  margin-right: 40px;
}
.icon{
  text-align: center;
  background: white;
  margin: 10px 0 30px;
  padding: 15px;
  box-shadow: 1px 1px 10px lightgrey;
}
.icon img{
  width: 96px;
}
.icon p{
  font-size: 14px;
  padding: 10px 0;
}
.icon > div:hover  p{
  color: white;
  background: #FC7523 ;
}


/*** #farm_to_table ***/
#farm_to_table{
  /* height: 1486px; */
  background: yellow;
}

/*** #subscribe ***/
#subscribe{
  height: 530px;
  background-color: white;
  background-image: url("../images/subscribe-sec-bg.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 100px 25px;
}
#subscribe > .container_subscribe{
  width: 55%;
  margin: 0 auto;
  text-align: center;
}
.title_subcribe > h3{
  font-size: 35px;
  margin: 20px 0;

}
.title_subcribe > p{
  font-size: 17px;
  margin: 0 0 20px;
}
.container_subscribe > p{
  font-size: 14px;
  margin: 0 0 20px;
}

.email_button{
  width: 706px;
  margin: 0 auto;
  margin: 40px auto 50px;
}
.email_button input{
  width: 100%;
  padding: 0 16px;
  margin-right: 15px;
}
.email_button button{
  color: white;
  font-size: 18px;
  padding: 17px 40px;
  margin-left: 10px;
}
/*** #images ***/
#images > .item{
  width: calc(100% / 4);
}
#images img{
  width: 100%;
}

/* FOOTER */
footer#site_footer{
  height: 500px;
  background: blue;
}
.footer_main{
  height: 225px;
  background: grey;
}
.copyright{
  height: 47px;
  background: lime;
}
